<div class="text-right">

  <button type="button" class="btn btn-info" title="Ver Registro Clinico."><i class="mdi mdi-eye"></i></button>

  <div class="btn-group">
    <button type="button" title="Exportar Certificado" class="btn btn-danger dropdown-toggle ml-1"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user"></i>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" style="cursor: pointer;">Exportar Certificado</a>
      <a class="dropdown-item" style="cursor: pointer;">Exportar Medicamentos</a>
      <a class="dropdown-item" style="cursor: pointer;">Exportar Remisión</a>
    </div>
  </div>
</div>
