<div *ngFor="let item of items; let i = index" class="item-container">
  <h3>Encabezado {{i + 1}}</h3>
  <div class="input-container">
    <label class="label">Nombre:</label>
    <input type="text" [(ngModel)]="item.Nombre" class="input-field" placeholder="Nombre"/>
  </div>
  <div class="input-container">
    <label class="label">Presentación:</label>
    <input type="text" [(ngModel)]="item.Presentacion" class="input-field" placeholder="Presentación"/>
  </div>
  <div class="input-container">
    <label class="label">Cantidad:</label>
    <input type="text" [(ngModel)]="item.Cantidad" class="input-field" placeholder="Cantidad"/>
  </div>
  <div class="input-container">
    <label class="label">Posología:</label>
    <input type="text" [(ngModel)]="item.Posologia" class="input-field" placeholder="Posología"/>
  </div>
  <div class="input-container">
    <label class="label">Duración:</label>
    <input type="text" [(ngModel)]="item.Duracion" class="input-field" placeholder="Duración"/>
  </div>
  <button (click)="eliminarItem(i)">Eliminar</button>
</div>
<button (click)="agregarItem()">Añadir</button>
<button (click)="guardarDatos()">Guardar</button>
