/* componente.component.css */

/* Estilo para el contenedor de cada encabezado y espacio a llenar */
.item-container {
  margin-bottom: 20px; /* Espacio entre cada conjunto de encabezado y espacio */
  display: flex; /* Usar flexbox */
  flex-wrap: wrap; /* Envolver elementos a la siguiente fila si no caben */
}

/* Estilo para cada div que contiene un campo de texto */
.item-container div {
  flex: 1; /* Que cada div tome igual espacio en la fila */
  margin-right: 5px; /* Espacio entre cada campo de texto */
}

/* Estilo para el botón "Eliminar" */
button {
  margin-top: 10px; /* Espacio entre los campos de texto y el botón */
}

/* Estilo para el botón "Añadir" y "Guardar" */
.add-button,
.save-button {
  margin-top: 20px; /* Espacio entre los conjuntos de encabezado y espacio */
}
